<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head') %>


  <h1 class="titulo-lista">LISTA DE PRODUCTOS</h1>

  <div class='lista-productos listado'>

    <!----------------------------INCLUYENDO PARCIAL DE LISTADO------------------------------------>

    <%- include('../parcials/list') %>

    





  </div>


  </main>



  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('../parcials/footer') %>