<footer>
    <div class="container">
      <ul>
        <li><img class="img-logo" src="/img/logo9.png"></li>
        <li>Aviso de privacidad</li>
        <li>Conoce mas Fast Wheel</li>
        <li>Nuestras ubicaciones</li>
        <li>Nuestras ubicaciones</li>
      </ul>
    </div>
    <div class="container">
      <ul>
        <li>Preguntas frecuentes</li>
        <li>contactanos</li>
        <li>terminos y condiciones</li>

      </ul>
    </div>
    <div class="container">
      <ul>
        <li><i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> <i
            class="fab fa-youtube"></i></li>
        <li>Llámanos y reserva en línea xxxxxxxxxxxxx</li>
      </ul>
    </div>
  </footer>






</body>

</html>