* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --bs-body-font-family: "Helvetica Neue";

}




/*---------------------------------------   ESTILOS DE LA BARRA DE NAVEGACION ----------------------- */


.navbar {
    padding-bottom: 0 !important;

}

.navbar a{
    color: white !important;
}

.navbar .categoria{
    color: black !important;
}


.img-logo {
    height: 12vh;
    border-radius:  10px;
}

.color {
    color:rgba(255, 69, 0,.6);

}

.btn {
    background-color: orange;
}

.eliminar {
    background-color: lightgrey;
}

.form-control:focus {
    box-shadow: 2px 2px 8px 2px  orange;
    border: orange;
}

.form-select:focus {
    box-shadow: 2px 2px 8px 2px  orange;
    border: orange;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}



/*--------------------------------- ESTILOS DEL FORMULARIO DE BUSQUEDA DE AUTOS--------------------------*/


.titulo {
    display: none;
}



    

/*--------------------------------------ESTILO CARROUSELL---------------------------------------*/



.vehicu-carru{
    font-size: 200%;
    background-color:orangered;
    opacity:0.75;
    border-radius: 10px;
    width: 60%;
    
}

.parra-carru{
    font-size: 120%;
    background-color: white;
    border-radius: 10px;
    color: orangered;
    opacity:0.75;
    width:60%
}

.calesita {
    margin-top: 5%;
    margin-bottom: 40px!important;
}

.card-body {
    border-top: solid lightgrey 1px;
}

.calesita {
    width: 80%;
    margin: 0 auto;
    
}

.calesita .row {
    justify-content: center;
}

P {
    font-size: 1em;
}

.calesita h1 {
    text-align: center;
}


.slide {
    height: 74%;
}




/*------------------------------------------ESTILO SECCION CIUDADES---------------------------------*/


.ciudades {
    text-align: center;
    background-color: #d3d3d359;
    padding-bottom: 10%;
    padding-top: 4%;
    
}

.tarjeta-ciudades {
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 80%;
}


/*-----------------------------------STILO PUBLICIDAD OFERTAS----------------------------------------*/


.publicidad-ofertas {
    background-color:rgb(255, 69, 0);
    width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 1rem;
    padding: 10px;
    color:white


    }

    .ingresa-correo{
        color :white;
        font-size: 1.5rem;
        text-align: center;
    }



    
/*---------------------------------   ESTILOS DE LA VISTA PRODUCT-LISTING -----------------------------------------*/


main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

main form.tamanio {
    align-self:baseline;
}

.dos-forms {
    display: flex;
    flex-direction: column;
}


div.filtro {
    text-align: center;
    width:100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

div.filtro .container {
    font-size: 200%;
}

.fa-arrow-right {
    color: orange;
    font-size: 300%;
    align-self: center;
}

.lista-productos {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.lista-productos li {
    list-style: none;
}




.lista-productos .container img {
    width: 90%;

}

.lista-productos .item {
    border-radius: 0.8em;
    border: solid lightgrey 1px;
    width: 90%;
    max-width: none;

}

.presupuesto {
    background-color: lightgray;
    width:100%;
}

.reserva {
    width: 100%;

}

.item ul {
    list-style:none; 
    padding-left:0;

}

.escondido {
    display: none;
}

/*-------------------------------- ESTILO DE CARRITO DE COMPRA----------------------------------------*/

.g-3{
    background-color:gainsboro;
    padding-bottom: 30px;
    border-radius: 10px;
}
.g-5{
    padding: 10px;
    margin: 3px;
   
}








/*---------------------------------   ESTILOS DE LA VISTA LOGIN -----------------------------------------*/



.formulario {
    width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 10px;
}





.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;    
}

.password button {
    flex-grow: 10;
    width: 100%;
}

/*--------------------------------------- ESTILOS DEL REGISTER---------------------------------------- */


.registro {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    
}

.boton  {
    flex-grow: 1;
    justify-self: flex-end;
}

.main-register{
    background-image: url('../img/fondo-registro.jpg');
    align-items: baseline;
    height: 700px;
}

.titulo-registro {
    text-align: center;
    border-bottom: solid gray 1px;
    margin-bottom: 10px;
    padding-bottom: 3px;
}




    /*---------------------------------   ESTILOS DEL FOOTER -----------------------------------------*/


footer {
        box-sizing: border-box;
        background-color: rgba(255, 100, 1);
        padding: 2%;
        display: flex;
        flex-direction: column;
        margin-top:auto;  
}



footer .container ul {
        padding-left:0;
}
   

footer .container li {
        list-style: none;
        text-align: left;
        color: white;

}

    footer .img-logo {
        height: 8vh;
    }

  


    /*---------------------------ESTILOS VISTA FAQ---------------------------------*/

.faqs {
    width: 60vw;
    margin: 2vh auto;
}

.accordion-button:not(.collapsed) {
    background-color: orange;
    box-shadow: inset 0 -1px 0 white;
    color: white;
}

.accordion-header:active {
    box-shadow: 1px 2px 3px 4px orange;
}



/*----------------------------------------ESTILOS VISTAS ADMINISTRADOR------------------------------------------*/

/*-----------------------------------CREACION DE PRODUCTO--------------------------------------------------------*/


.titulo_crear {
    border-bottom: 1px lightgray;
}
















/*----------------------------------------MEDIA QUERIES-------------------------------------------------------*/



@media (min-width:480px) {

    .mb-1 {
        margin-bottom: 1rem !important;
    }

    .titulo {
        display: block;
        color: white;
    }

    .titulo-mobile {
        display: none;
    }

    .formulario-register {
        width: 400px;
    }


    .alinear {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .ancho-hijos {
        width: 8rem;
    }
    
    .alinear div{
        flex-grow: 0.45;
    }

    .boton  {
        align-self:flex-end;
        border-radius: 5px;

    }

    /*-------------------------------------INDEX - CIUDADES---------------------------------------------------*/

    .card {
        width: 40%;
    }

    

    /*--------------------------------------STILO DE QUIENES SOMOS--------------------------------*/

    .publicidad-ofertas {
        background-color: orangered;
        text-align: center;
        border-radius: 0.5rem;
    }
    .main-about {
        padding: 15%;
        background-image: url('../img/concesio.jpg');
        background-position: center;
        background-size: cover;
        display:flex;
        flex-wrap: wrap;
        font-size: 150%;
        color: white;
        
        
    }
    .main-gene-about{
        
        display:flex;
        flex-direction: column;
    
    }
    .parra-requi{
        background-color: black;
        text-align: center;
        color: white;
        padding: auto;
        height: 150px;
        font-size: 150%;
    }

    .busqueda {
        margin-left: 4% !important;
        background-color: rgba(255, 69, 0,.6);
        
    }

    .formulario-register .blanco{
        color: white;
    }

    .imagen-flia {
        position: relative;
        padding-bottom: 10%;
        margin-bottom: 4vh;
        background-image: url('../img/imagen-entrada.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    /*------------------------------------------ FORMULARIO ---------------------------------------------------*/

    .error {
        color: red;
    }


    .formulario {
        margin-top: 2vh;

    }



    .main-city{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 100, 1);
        color: white;

    }
    
    .imagen-bsas{
        width: 100%;
    
    }
    .titulo-citys{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .parra-citys{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .imagen-bogota{
        width: 100%;

    }


    .imagen-cordoba{
        width: 100%;

    }


    .imagen-rosario{
        width: 100%;

    }

    footer {
        flex-direction: row;
    }

    


}




    
@media (min-width: 769px) {
    .formulario-register {
        width: 600px;
    }

    main .tamanio {
        width: 400px;
        margin-right: 0;
    

    }
    
    /*---------------------------------LISTADO PRODUCTO ADMINISTRADOR ------------------------------------------------*/

    .titulo-lista {
        text-align: center;
    }

    .listado {
        width: 70%;
    }



    /*------------------------------------- PRODUCT-FILTER------------------------------------------*/

    .presupuesto {
        width: 45%;
        position: absolute;
        bottom: 12%;
        right: 2%;
    
    }
    
    .reserva {

        width: 45%;
        position: absolute;
        bottom: 2%;
        right: 2%;
    }
   

    .reserva-derecha {
        position: relative;
    }
    
    

    .lista-productos {

        flex-grow: 1;

    }

    div.filtro {
        flex-direction: row;
        
    }
    

    .escondido {
        display: block;
    }


    .lista-productos {
        margin-top: 30px;
    }
    

    /*-------------------------------------INDEX - CIUDADES---------------------------------------------------*/

    .card {
        width: 23%;
    }

    /*----------------------------------------INDEX-PUBLICIDAD OFERTA---------------------------------------------------*/

    .publicidad-ofertas {

        width: 60vw;

    
    }

    /*-------------------------------------------ESTILOS VISTAS ADMINISTRADOR-----------------------------------------*/

    /*-------------------------------------------ESTILO FORMULARIO CREAR---------------------------------------------*/

    .formulario-producto {
        width: 500px;
    
    }

      
  
}



@media (min-width:1280px) {
    .publicidad-ofertas {
        width: 40vw;
    
        }

    

    /*-------------------------------------PRODUCT-FILTER-----------------------------------------------------*/

    main {
        flex-direction: row;
        gap: 10px;
    }

    

    /*-----------------------------------------SHOPPING-CART*--------------------------------------------------*/

    .cliente {
        margin-left: 5vw !important;
        width: 45vw !important;
    }


    .resumen-pedido {
        margin-right: 2vw;
        width: 45VW!important;
        position: sticky;
        top: 120px;   
    }


    
    
}