<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('parcials/head')  %>

  
  <main class=main-gene-about>
    <div class="main-about">

      <h2 clase="titulo-about">EL VALOR DE NUESTROS SERVICIOS</h2>

      <p class="parra-about ">
        Somos una empresa con raíces familiares con 50 años de experiencia en el mercado automotriz. Nuestro propósito
        es brindarle a nuestros clientes el mejor servicio con la calidez, la responsabilidad y la atención
        personalizada que nos caracteriza y que cada cliente merece.
        Estamos permanentemente atentos a todas las necesidades para que el viaje sea lo más placentero posible.
        Nuestros mayores esfuerzos están enfocados en renovar permanentemente la flota, bridar la maxima seguridad en
        viaje y ofrecer bienestar al cliente, ya sea que el motivo de su traslado sea por ocio o negocios.
      </p>
    </div>
    <div>
      <p class="parra-requi">
        REQUISITOS PARA ALQUILAR
        <br>
        Edad mínima 25 años
        <br>
        Licencia de conductor nacional o internacional

        <br>
        La licencia debe tener un mínimo de dos años de antigüedad
        <br>
        DNI o Pasaporte
        <br>
        Tarjeta de crédito
      </p>
    </div>
  </main>



  
<!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

<%- include('parcials/footer') %> 