<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('parcials/head') %>


  <main class="main-register">
      <h1>DICHA RUTA NO EXISTE</h1>
  </main>



  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('parcials/footer') %>