<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head')  %>


    <main class="main-register">
    <form class='formulario registro formulario-register'>

      <div class="titulo-registro">
        <h5>Registrate</h5>
      </div>
      <div class='alinear'>
        <div class="mb-3">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="apellido" placeholder="Apellido">
        </div>
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
          placeholder="Correo Electrónico">
        <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con alguien más</div>
      </div>
      <div class='alinear'>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="Contraseña">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="Repetir Contraseña">
        </div>
      </div>
      <div class='registro boton'>
        <button type="submit" class="btn">Enviar</button>
      </div>
    </form>
  </main>



<!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

<%- include('../parcials/footer') %> 